<h1>
  Users <span>({{ total$ | async }})</span>
</h1>

<div class="row">
  <div class="col-12">
    <table class="table" *ngIf="user$ | async as Users; else elscond">
      <thead>
        <tr>
          <th>#</th>
          <th>Name</th>
          <th>position</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="let user of Users"
          [ngClass]="(selectUser$ | async) == user ? 'text-success' : ''"
        >
          <td>{{ user.id }}</td>
          <td (click)="selectUser(user)" class="clickable">{{ user.name }}</td>
          <td>{{ user.position }}</td>
          <td class="d-flex jusify-content-center gap-2">
            <button class="btn btn-sm btn-danger" (click)="delete(user.id)">
              Delete
            </button>
            <button class="btn btn-sm btn-warning">update</button>
          </td>
        </tr>
      </tbody>
    </table>
    <ng-template #elscond> no fetch data ... </ng-template>
  </div>
  <!-- <div class="col-4" *ngIf="selectUser$ | async">
    {{ selectUser$ | async | json }}
    <button class="btn btn-danger" (click)="deSelectUser()">UnSelected</button>
  </div> -->
  <!-- <ng-template #empty> No Selected User ...</ng-template> -->
</div>
